.logo img {
  height: 50px;
}

.header-nav-wrapper .logo {
  border-bottom: none;
  background-color: inherit;
}

header.hero .hero-bg {
  background-color: rgba(65, 74, 82, 0.52);
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #0088cc;
}

ul.questions li span{
  font-size: 16px;
  font-weight: bold;
}

.freebies figure .overlay {
    opacity: 1;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer p {
    font-size: 14px;
    color: #414A52;
}

.footer-bg {
    background-color: #ffffff;
    color: #414A52;
}

footer ul li, footer ul li a {
  color: #414A52;
}

footer .footer-nav {
    padding-top: 40px;
    border-top: solid 1px rgba(65, 74, 82, 0.26);
}

address{
  line-height: 200%;
}

address strong {
  font-weight: bold;
}
